// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html{
	

}
body{
	background: #00aa77;
	background-image: asset-data-url("zenbg-1.png"), asset-data-url("zenbg-2.png");
	background-repeat: repeat-x, repeat;
}	
.half-width-container{
	width:50%;
}
#site-body{	
}
#site-content-container{
	margin-bottom: 20px;
	@extend .container-fluid;
}
#site-header-container {
	@extend .container-fluid;
/*	@extend .container-md-height;*/
}
#site-header{
	@extend .row;
	/*@extend .row-md-height;*/
	padding: 15px;

}
#site-title-container{
	text-align: center;
	@extend .col-md-2;
	@extend .col-md-offset-5;	
/*	@extend .col-md-height;*/
}
#site-title{
	font-family: 'Great Vibes', cursive;
	font-size: 45px;
	z-index: 1;
}
#site-link{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px !important;
	z-index: 2;
}
#greeting{

}
#named-greeting{
	display:none;
	font-family: 'Allura', cursive;
	font-size: 26px;
}
#viewer-name-container{
	@extend .col-md-4;
	@extend .col-md-offset-1;
	text-align: right;
	
/*	@extend .col-md-height;
	@extend .col-bottom;*/
}
#viewer-name{
	text-transform: capitalize;

}
#enter-viewer-name-textbox-container{
	display: none;
}
#viewer-name-form{
	@extend .form-inline;
}
#viewer-form-element-container{
	display: inline-block;
	float: right;
}
#viewer-name-submit-button{
	@extend .btn;
	@extend .btn-default;
	border-radius: 0px;
	border-color: transparent;
	@extend .card-shadow-light;
}
#viewer-name-input{
	@extend .form-control;
	@extend .card-shadow-light;
	border-radius: 0px;
	border-color: transparent;
	box-shadow: none;		
}
#viewer-name-input:focus{
	border-radius: 0px;
	border-color: transparent;
	box-shadow: none;		
}
.sign-out-button{
	background-color: white;
}
.card-shadow{
	-webkit-box-shadow: 0px 0px 8px 7px rgba(50, 50, 50, 0.37);
	-moz-box-shadow:    0px 0px 8px 7px rgba(50, 50, 50, 0.37);
	box-shadow:         0px 0px 8px 7px rgba(50, 50, 50, 0.37);	
}
.card-shadow-light{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}
.main-list-quiz-container{
	@extend .container-fluid;
}
.listed-quiz-container{
	@extend .row;
	margin-bottom: 15px !important;	
	margin-top: 10px;
	width: 75%;
	margin:0 auto;
	background: white;
	@extend .card-shadow;
}
.listed-quiz-image{
	@extend .col-md-4;
	padding-left: 0px;
}
.listed-quiz-text{
	@extend .col-md-8;
	height:195px;
	text-align: center;
}
.listed-quiz-title{	
	font-size: 25px;
	padding: 0.5em 0;
}

.listed-quiz-container h2 {

	-webkit-transition: -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: transform 0.35s ease 0s;
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

.listed-quiz-container:hover h2{	
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

.listed-quiz-container p {
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 0;

	-webkit-transition: -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: transform 0.35s ease 0s;
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: opacity 0.35s, transform 0.35s;
}

.listed-quiz-container:hover p {
	opacity: 1;

	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);

	transition: opacity 0.35s, transform 0.35s;	
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}
.centering-table{
  display: table; 
  height: 100%;
  width:100%; 
  overflow: hidden;
  padding-bottom:10px;
}
.table{
	background-color: white;
}
.centering-table-cell{
  display: table-cell; 
  vertical-align: middle;
  padding:5px;
}
.quiz-container{
	text-align:center;
}
.quiz-title-container{
	text-align:center;
	font-size: 30px;
	margin: 20px;
	@extend .card-shadow;
	background-color: #FFF;
	padding : 10px 25px 10px 25px;
}
.question-list-container{
	@extend .container-fluid;
}
.question-container{
	@extend .container-fluid;
	margin: 15px;
	padding-top: 13px;
}
.question-title{
	@extend .row;
	text-align:center;
	font-size: 18px;
	@extend .card-shadow-light;
	background-color: #FFF;
	display: inline-block;
	padding : 7px 15px 7px 15px;

}
.option-list-container{
	@extend .row;
	margin-top: 20px;
	margin-bottom: 15px;
}
.option-container{
	@extend .col-md-4;

}
.option-card{
	
	display: inline-block;
	cursor: pointer;
}
.option-selected-bar-holder{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 4;
	background-color: transparent;
}
.option-selected-bar-holder:hover{
	
}
.option-selected-bar-holder::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ffffff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.option-selected-bar-holder:hover::after,
.option-selected-bar-holder:focus::after {
	opacity: 1;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}
.option-selected-bar{
	position: absolute;	
	margin-top: 5px;
	height: 4px;
	width: 100%;
	background: #ffffff;
	display: none;
}
.option-image{
	position:relative;
	z-index: 2;
	@extend .card-shadow-light;
}
.store-info-card{
	position:absolute;
	top: 0px;
	height:100%;
	width: 100px;
	background-color: white;
	z-index: 1;
	color: black;
	padding: 10px 5px 0px 5px;
	@extend .card-shadow-light;

}
.store-info-text-container{
	height: 75%;
}
.store-name-container{
	height:50%;
	position: relative;
}
.store-name{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}
.available-text{
	font-family: "Allura",cursive;
	font-size: 20px;
}
.curtain-container{
	position:relative;
}
.curtain{
	position:absolute;
	height: 100%;
	width:100%;
	top: 0px;
	opacity: 0.1;
	background-color: black;
	/* transition: opacity 0.35s, transform 0.35s; */
	z-index: 5;
}
.curtain:hover{

}
.option-selector-radio{
	position:absolute;
	width: 1px;
	height:1px;
	top: 1px;
	visibility: hidden;

}
#result-placeholder{
	@extend .container-fluid;
	width:50%;
	height: 400px;
	
	margin-top:20px;
}
#result-container{
	display:none;
	@extend .card-shadow;
	padding: 15px;
	opacity: 0;
	background-color: white;
}
.result-row{
	@extend .row;
}
#result-image-container{
	@extend .col-md-5;
}
#result-title-container{
	@extend .col-md-12;
	font-size: 25px;	
	text-align:center;
	margin-bottom: 5px;
}

#result-description-container{
	@extend .col-md-7;
	height: 240px;
	text-align:justify;
}
#quiz-submit-button-container{

}
#quiz-submit-button{
	@extend .btn;
	@extend .btn-lg;
	@extend .btn-default;
	border-radius: 0px;
	border-color: transparent;
	padding-top:7px;
	padding-bottom:7px;
}
.btn-default{

}
#quiz-end-container{
	width: 50%;
	margin: 0 auto;
}
.progress{
	margin: 10px;
	height: 4px !important;
	box-shadow: none;
	background-color: transparent !important; 
	border-radius: 0px !important;
	display: none;
	opacity: 0;
}
.progress-bar{
	background-color: #fff !important;
	box-shadow: none !important;
	border-radius: 0px !important;

}
#view-more-quizzes-button{
	@extend .btn;
	@extend .btn-default;
	@extend .btn-lg;
	border-radius: 0px;
	border-color: transparent;
}
#view-more-quizzes-button-container{
	display: none;
	opacity: 0;
	text-align:center;
	margin: 20px;
}
.field{
	@extend .form-group;
}
.input-text-area{
	@extend .form-control;
}
.input-text-field{
	@extend .form-control;
}
.input-image{
	@extend .form-control;
}
.input-select{
	@extend .form-control;
}
.input-number{
	@extend .form-control;
}
.edit-form-submit-button{
	@extend .btn;
	@extend .btn-success;
}
.create-new-instance-button{
	@extend .btn;
	@extend .btn-info;
	color: #FFF !important; 
}
.list-header-row{
	@extend .row;
}
.list-header-text{
	@extend .col-md-9;	
}
.list-header-button-container{
	@extend .col-md-3;	
}
.navigation-button{
	@extend .btn;
	@extend .btn-default;
}
.navbar{
	text-align:center;
	clear:both;
}
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* Formtastic */
form.formtastic fieldset > ol > li.radio fieldset ol li label input{
    position: relative;
}
form.formtastic fieldset > ol > li.radio fieldset > .label{
   @extend .label;
   position: relative;
   text-align: left;
}
form.formtastic fieldset > ol > li.radio fieldset > .label > label{
  padding-top: 5px;
  margin-left: 40px;
  font-weight: bold;
}
form.formtastic fieldset > ol > li.date_select fieldset > .label{
   @extend .label;
   position: relative;
   text-align: left;
   height: 20px;
}
form.formtastic fieldset > ol > li.date_select fieldset > .label > label{
  padding-top: 5px;
  margin-left: 40px;
  font-weight: bold;
}
.formtastic-form-image{
	margin:5px 0px 5px 170px;
}