// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body{

}

.site-body{

	
}
.site-content-container{
	@extend .container;
}
.site-header-container {
	@extend .container-fluid;
}
.site-header{
	@extend .row;
	padding: 15px;

}
.site-title-container{
	text-align: center;
	@extend .col-md-2;
	@extend .col-md-offset-5;	
}
.site-title{
	font-family: 'Great Vibes', cursive;
	font-size: 45px;
}
.greeting{
	@extend .col-md-1;
	@extend .col-md-offset-4;
}
.named-greeting{
	
}
#name{
	
}
.card-shadow{
	-webkit-box-shadow: 0px 0px 8px 7px rgba(50, 50, 50, 0.37);
	-moz-box-shadow:    0px 0px 8px 7px rgba(50, 50, 50, 0.37);
	box-shadow:         0px 0px 8px 7px rgba(50, 50, 50, 0.37);	
}
.card-shadow-light{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}
.main-list-quiz-container{
	@extend .container-fluid;
}
.listed-quiz-container{
	@extend .row;
	margin-bottom: 15px !important;	
	width: 75%;
	margin:0 auto;
	background: white;
	@extend .card-shadow;
}
.listed-quiz-image{
	@extend .col-md-4;
	padding-left: 0px;
}
.listed-quiz-text{
	@extend .col-md-8;
	height:195px;
	text-align: center;
}
.listed-quiz-title{	
	font-size: 25px;
	padding: 0.5em 0;
}

.listed-quiz-container h2 {

	-webkit-transition: -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: transform 0.35s ease 0s;
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

.listed-quiz-container:hover h2{	
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

.listed-quiz-container p {
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 0;

	-webkit-transition: -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: transform 0.35s ease 0s;
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);

	transition: opacity 0.35s, transform 0.35s;
}

.listed-quiz-container:hover p {
	opacity: 1;

	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);

	transition: opacity 0.35s, transform 0.35s;	
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}
.centering-table{
  display: table; 
  height: 100%;
  width:100%; 
  overflow: hidden;
  padding-bottom:10px;
}
.centering-table-cell{
  display: table-cell; 
  vertical-align: middle;
  padding:5px;
}
.quiz-container{
	text-align:center;
}
.quiz-title-container{
	text-align:center;
	font-size: 30px;
	margin: 20px;
	@extend .card-shadow-light;
	background-color: #FFF;
	padding : 10px 25px 10px 25px;
}
.question-list-container{
	@extend .container;
}
.question-container{
	@extend .container-fluid;
	margin: 15px;
}
.question-title{
	@extend .row;
	text-align:center;
	font-size: 18px;
	@extend .card-shadow-light;
	background-color: #FFF;
	display: inline-block;
	padding : 7px 15px 7px 15px;

}
.option-list-container{
	@extend .row;
	margin-top: 20px;
	margin-bottom: 15px;
}
.option-container{
	@extend .col-md-4;

}
.option-card{
	@extend .card-shadow-light;
	display: inline-block;
	cursor: pointer;
}
.option-selected-bar-holder{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 1;
	background-color: transparent;
}
.option-selected-bar-holder:hover{
	
}
.option-selected-bar-holder::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.option-selected-bar-holder:hover::after,
.option-selected-bar-holder:focus::after {
	opacity: 1;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}
.option-selected-bar{
	position: absolute;	
	margin-top: 5px;
	height: 4px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
}
.option-image{
	position:relative;
	z-index: -3;
}

.curtain-container{
	position:relative;
}
.curtain{
	position:absolute;
	height: 100%;
	width:100%;
	top: 0px;
	opacity: 0.1;
	background-color: black;
	/* transition: opacity 0.35s, transform 0.35s; */
	z-index: 0;
}
.curtain:hover{
	/*
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;	
	*/
}
.option-selector-radio{
	display:none;

}
#result-placeholder{
	@extend .container-fluid;
	width:50%;
	height: 350px;
	text-align:center;
	margin-top:20px;
}
#result-container{
	display:none;
	@extend .card-shadow-light;
	padding: 15px;
}
.result-row{
	@extend .row;
}
#result-image-container{
	@extend .col-md-5;
}
#result-title-container{
	@extend .col-md-12;
	font-size: 25px;	
	margin-bottom: 5px;
}

#result-description-container{
	@extend .col-md-7;
	height: 240px;
}
#quiz-submit-button{
	@extend .btn;
	@extend .btn-md;
	@extend .btn-default;
}
#quiz-end-container{
	width: 50%;
	margin: 0 auto;
}
.progress{
	margin: 10px;
}
.back-button{
	@extend .btn;
	@extend .btn-default;
}
.back-button-container{
	text-align:center;
	margin: 20px;
}
.field{
	@extend .form-group;
}
.input-text-area{
	@extend .form-control;
}
.input-text-field{
	@extend .form-control;
}
.input-image{
	@extend .form-control;
}
.input-select{
	@extend .form-control;
}
.input-number{
	@extend .form-control;
}
.edit-form-submit-button{
	@extend .btn;
	@extend .btn-success;
}
.create-new-instance-button{
	@extend .btn;
	@extend .btn-info;
	color: #FFF !important; 
}
.list-header-row{
	@extend .row;
}
.list-header-text{
	@extend .col-md-9;	
}
.list-header-button-container{
	@extend .col-md-3;	
}
.navigation-button{
	@extend .btn;
	@extend .btn-default;
}
.navbar{
	text-align:center;
	clear:both;
}
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}

